@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsla(229, 23%, 23%, 0.301);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --dark-gray-desaturated: hsl(0, 0%, 85%);
    --font-kumbh-sans: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-kumbh-sans);
    font-size: 14px;
    background-color: var(--dark-cyan);
    /* bg image */
    background-image: url("../images/bg-pattern-top.svg"), 
    url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 50vh, left 50vw top 50vh;

}

.card-container {
    min-height: 100vh;
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    place-content: center;
    align-items: center;
}

.card-wrapper {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px var(--very-dark-desaturated-blue);
    position: relative;
}

.card-texts {
    text-align: center;
    margin-top: 70px;
}

.card-name {
    font-size: 18px;
}

.card-name span{    
    font-weight: normal;
    color: var(--dark-grayish-blue);
}

.card-country {
    color: var(--dark-grayish-blue);
    margin-top: 10px;
    border-bottom: 1px solid var(--dark-gray-desaturated);
    padding-bottom: 25px;
}

.card-social {
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
}

.card-number {
    text-align: center;
    line-height: 1.6;
}

.card-number h3{
    font-size: 18px;
}

.card-number p {
    color: var(--dark-grayish-blue);
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: 1px;
}

.image-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 23%;
    left: 33%
}

.image-person {
    border: 6px solid #fff;
    border-radius: 50%;
}

/* footer */
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */